html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #0e0c15;
  color: white;
}

@media (min-width: 1200px) {
  :root {
    --global-scale: 0.85;
  }
}

@media (min-width: 1600px) {
  :root {
    --global-scale: 1;
  }
}
